.main__content-title{
    font-size: 1.25em;
}

.main__content-form{
    margin: 1em 0 1em 0;
}

.main__content-input{
    padding: 0.5em;
    font-size: 1em;
    color: #126e82;
    font-weight: bold;
}

.main__content-inputButton{
    padding: 0.5em;
    font-size: 1em;
    background: rgb(18,110,130);
    background: linear-gradient(0deg, rgba(18,110,130,1) 29%, rgba(54,169,194,1) 100%);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5%;
}

.main__content-inputButton:hover{
    cursor: pointer;
    background: rgb(54,169,194);
    background: linear-gradient(0deg, rgba(54,169,194,1) 12%, rgba(18,110,130,1) 100%);
}

.main__content-button{
    padding: 0.5em;
    font-size: 1em;
    background: rgb(18,110,130);
    background: linear-gradient(0deg, rgba(18,110,130,1) 29%, rgba(54,169,194,1) 100%);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5%;
    margin-bottom: 2.5%;
    margin-top: 1em;
}

.main__content-button:hover{
    cursor: pointer;
    background: rgb(54,169,194);
    background: linear-gradient(0deg, rgba(54,169,194,1) 12%, rgba(18,110,130,1) 100%);
}

.main__content__lottery{
    width: 100% !important;
    border-top: 2px solid #126e82;
}

.main__content__lottery h2{
    margin-top: 1em;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    font-weight: lighter;
}

.main__content__lottery h3{
    color: #126e82;
}

.main__content__lottery p{
    font-weight: bold;
}

.main__content__lottery-list{
    width: 100%;
    margin-bottom: 1em;
}

.main__content__payment{
    width: 100%;
    display: none;
}

.main__content__payment-container{
    width: 5em;
    display: inline-block;
}

.main__content__payment-img{
    width: 3.5em;
    height: 3.5em;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__content__payment-img:hover{
    cursor: pointer;
}

#bitcoin{
    background-image: url("img/btc.png");
}

#ethereum{
    background-image: url("img/eth.png");
}

#tether{
    background-image: url("img/usdt.png");
}

@media (max-width:1024px){
    .main__content__payment-container{
        margin-top: 1.25em;
    }
}